body {
    background-color: #f8f9fa; /* Sfondo chiaro */
    color: #212529; /* Testo scuro */
}
h1.text-center.display-4 {
    position: relative;
    font-weight: bold !important;
    color: #34495e !important; /* Colore professionale */
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    margin-bottom: 30px !important;
    padding-bottom: 10px !important;
    background: none !important;
    overflow: hidden; /* Per gestire l'animazione che esce dai bordi */
}

h1.text-center.display-4::before, h1.text-center.display-4::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: 0;
    background-color: #2980b9;
    transition: all 0.4s ease;
    z-index: 1; /* Per posizionarla sopra il testo */
}

h1.text-center.display-4::before {
    left: 0;
    background-color: #2980b9;
}

h1.text-center.display-4::after {
    right: 0;
    background-color: #e74c3c;
}

h1.text-center.display-4:hover::before, h1.text-center.display-4:hover::after {
    width: 100%;
    background-color: #2ecc71; /* Cambia colore durante l'animazione */
}

h1.text-center.display-4::before, h1.text-center.display-4::after {
    animation: move-bar 2s ease infinite alternate;
}

@keyframes move-bar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}



/* Contenitore generale con dimensioni compatte */
.container {
    margin-top: 40px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Tabelle con dimensioni compatte */
.table {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    width: 100%; /* Mantiene la larghezza della tabella nel contenitore */
    table-layout: auto; /* Permette alle colonne di adattarsi automaticamente */
}

.table th, .table td {
    vertical-align: middle;
    color: #212529;
    padding: 8px; /* Ridotto il padding */
    font-size: 13px; /* Font ridotto */
}

/* Stile per l'intestazione della tabella */
.table thead th {
    background-color: #f08080; /* Colore di sfondo rosso chiaro */
    color: #ffffff; /* Colore del testo bianco */
    text-align: left; /* Allinea il testo a sinistra */
    font-weight: bold; /* Grassetto per il testo */
}

/* Effetto al passaggio del mouse sulle righe dell'intestazione */
.table thead th:hover {
    background-color: #cd5c5c; /* Colore di sfondo più scuro al passaggio del mouse */
}

/* Sfondo chiaro all'hover */
.table-hover tbody tr:hover td {
    background-color: #f1f3f5;
}

/* Stile pulsanti più compatti */
.btn {
    border-radius: 20px;
    padding: 8px 16px; /* Ridotto il padding */
    font-size: 13px; /* Ridotto il font */
    font-weight: 500; /* Font meno pesante */
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombra più leggera */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-outline-light {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-light:hover {
    background-color: #007bff;
    color: #fff;
}

/* Modale compatto */
.modal-content {
    background-color: #ffffff;
    border-radius: 6px;
}

.modal-header, .modal-footer {
    background-color: #f1f3f5;
}

.modal-body {
    padding: 15px; /* Ridotto il padding */
}

.modal-title {
    font-size: 16px; /* Font più piccolo */
}

/* Campi form più compatti */
.form-control, .form-select {
    background-color: #ffffff;
    color: #212529;
    border: 1px solid #ced4da;
    padding: 8px; /* Ridotto il padding */
    font-size: 13px; /* Font più piccolo */
    border-radius: 4px;
}
/* Assicura che i filtri siano ben allineati e centrati */
.form-label {
	display: block;
	text-align: center;
}
.form-control::placeholder {
    color: #6c757d;
}
/* Distribuisce uniformemente le colonne dei filtri */
.row > .col-md-4 {
	flex: 1;
}
/* Stile compatto per la barra di navigazione */
.d-flex .btn {
    margin-right: 8px;
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 20px;
}

/* Definisci una larghezza fissa per la colonna Azione */
.action-column {
    width: 150px; /* Imposta una larghezza fissa */
    text-align: right; /* Allinea il contenuto a destra */
}

.action-column .btn {
    margin-right: 5px;
}

/* Icona di ordinamento */
.sort-icon {
    margin-left: 10px;
    cursor: pointer;
}

/* Stili specifici per la pagina 'Gestione Personale' */
#gestione-personale .table th, #gestione-personale .table td {
    padding: 10px; /* Ridotto il padding */
    font-size: 14px; /* Font leggermente più grande */
}

/* Allarga solo i filtri per Nome e Tipologia */
#gestione-personale #nomeSelect, #gestione-personale #tipologiaSelect {
    width: 100%;
}

/* Centra solo il pulsante Applica Filtri per Gestione Personale */
#gestione-personale #filterForm .btn-primary {
    display: block;
    margin: 0 auto; /* Centra il pulsante */
    width: 25%;
}

/* Stili specifici per la pagina 'Gestione Commesse' */
#gestione-commesse .table th, #gestione-commesse .table td {
    padding: 8px; /* Ridotto il padding */
    font-size: 12px; /* Font più piccolo */
}

/* Allarga solo i filtri per Numero e Cliente */
#gestione-commesse #numeroSelect, #gestione-commesse #clienteSelect {
    width: 100%;
}

/* Centra solo il pulsante Applica Filtri per Gestione Commesse */
#gestione-commesse #filterForm .btn-primary {
    display: block;
    margin: 0 auto; /* Centra il pulsante */
    width: 25%;
}

/* Assicura che i filtri per il fornitore siano centrati */
#gestione-fornitore #filterForm {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    flex-direction: column; /* Imposta gli elementi in colonna */
    align-items: center; /* Centra tutti gli elementi all'interno */
    gap: 20px; /* Spazio tra il filtro e il pulsante */
}

#gestione-fornitore #filterForm .row {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la riga del filtro */
}

#gestione-fornitore #filterForm .form-select {
    width: 100%; /* Imposta una larghezza per il dropdown del filtro fornitore */
}

#gestione-fornitore #filterForm button {
    width: 20%; /* Imposta la larghezza del pulsante */
}

/* Riduci la dimensione della barra di paginazione */
#gestione-personale .pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-top: 20px;
    flex-wrap: wrap; /* Fa sì che la paginazione si adatti alla larghezza della pagina */
    overflow-x: auto; /* Aggiunge lo scroll orizzontale se necessario */
    max-width: 100%; /* Si adatta alla larghezza del contenitore */
}

#gestione-personale .page-item .page-link {
    position: relative;
    display: block;
    padding: 8px 16px; /* Riduci il padding per rendere i bottoni più piccoli */
    margin-left: 5px; /* Aggiungi un piccolo margine tra i bottoni */
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 20px; /* Mantieni il raggio per i bordi arrotondati */
    font-size: 13px; /* Font più piccolo e compatto */
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#gestione-personale .page-item .page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#gestione-personale .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: default;
    border-radius: 20px;
}

#gestione-personale .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

#gestione-personale .page-item:first-child .page-link {
    margin-left: 0;
}

#gestione-personale .page-item:last-child .page-link {
    margin-right: 0;
}


/* Stile compatto per la barra di navigazione */
#gestione-personale .navbar {
    background-color: #007bff; /* Colore di sfondo coerente con i pulsanti */
    padding: 10px 20px; /* Compatta la barra */
    border-radius: 20px; /* Bordi arrotondati */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Leggera ombra per la barra */
}

#gestione-personale .navbar-brand {
    color: #fff; /* Colore del brand in bianco */
    font-size: 16px; /* Font leggermente più grande per il brand */
    text-transform: uppercase; /* Maiuscolo per il titolo */
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

#gestione-personale .navbar-brand:hover {
    color: #f1f3f5; /* Colore più chiaro al passaggio del mouse */
}

#gestione-personale .navbar-nav .nav-link {
    color: #fff; /* Link in bianco */
    font-size: 14px; /* Dimensione del font leggermente più piccola */
    padding: 8px 16px; /* Riduci il padding */
    border-radius: 20px; /* Bordi arrotondati per i link */
    transition: background-color 0.3s ease, color 0.3s ease;
}

#gestione-personale .navbar-nav .nav-link:hover {
    background-color: #0056b3; /* Colore di sfondo più scuro al passaggio del mouse */
    color: #fff;
}

#gestione-personale .navbar-nav .nav-item.active .nav-link {
    background-color: #e74c3c; /* Colore di sfondo per l'elemento attivo */
    color: #fff;
    font-weight: bold;
}

#gestione-personale .navbar-toggler {
    background-color: #fff; /* Colore bianco per il toggler */
    border: none;
    border-radius: 20px;
}

#gestione-personale .navbar-toggler-icon {
    background-color: #007bff; /* Colore del toggler */
}

